@charset "gb2312";
/* CSS Document */
*{ margin:0; padding:0;}
.toolbar{ background:#54b2ec; height:40px; font-size:14px; text-align:right; line-height:40px; position:fixed; width:100%; top:0; left:0}
.toolbar a{ color:#fff107; margin:0 10px; text-decoration:none;}
.toolbar a:hover{ color:#fff}



#pic_slide{ cursor:pointer; margin-top:50px; display:block;font-size:12px;}
/*图片垂直居中*/
.img_midcenter .img_box{*display: block;*font-family:Arial;display:table-cell;vertical-align:middle;text-align:center; zoom:1;}
.img_midcenter img{ vertical-align:middle;}

/*==================add by f2er 11-11-17===========================*/
/*mpop*/
	.mask{left:0; top:0; background:#000; position:absolute; opacity:0.8; filter:alpha(opacity=90);z-index:130;}
	.slideShow{ width:100%; left:0; top:0; position:absolute;z-index:140; zoom:1}
	.mpop{ background:#2f2f2f; border:1px solid #4f4f4f; z-index:18;padding:10px 5px; text-align:center; position: absolute;left:50%; top:20px; width:550px; height:500px; margin:0 0 0 -255px;}
	.mpop .img_midcenter{ width:550px; height:500px; overflow:hidden;}
	.mpop .img_midcenter .img_box{ height:500px; width:550px; *font-size:436px; line-height:1;}
	.mpop .loading{ background:url(../images/loading.gif) no-repeat center center; width:32px; height:32px; margin:0 auto}
	.slideShow #part_dynamic{ position:absolute; left:50%; margin-left:-325px;top:20px; width:600px; z-index:10000000; padding:0 50px;}
	.slideShow .part_dbox{width:600px; position:absolute; left:52px; top:15px; height:52px; overflow:hidden}
	.slideShow .part_dynamic { }
	.slideShow .part_dynamic li{ float:left; margin:0 5px; width:46px; height:46px; display:inline; border:2px solid #505050;text-align:center; overflow: hidden;}
	.slideShow .part_dynamic .img_sl{ width:46px; height:46px;*font-size:40px; line-height:1;}
	.slideShow .part_dynamic li img{}
	.slideShow .part_dynamic li.current{ border:2px solid #ddd;}
	.slideShow .left_btn,.slideShow .right_btn{ position:absolute; color:#fff;top:10px; cursor:pointer; width:20px; height:63px; display: block; /*text-indent: -999em; overflow: hidden;*/}
	.slideShow .left_btn{ left:10px;background:url(../images/scrollBtn.jpg) no-repeat -23px 0;}
	.slideShow .right_btn{ right:10px;background:url(../images/scrollBtn.jpg) no-repeat 0 0 }
    .slideShow .slide_close{background:url(../images/x.png) no-repeat; display: block; width:24px; height:24px; position: absolute; right:20px; top:10px; cursor: pointer;text-indent: -999em; overflow: hidden;}
    .slideShow .slide_left,.slideShow .slide_right{ position:absolute;  top:0; width:50%; height:550px; z-index:100;background:#fff;opacity:0;filter:alpha(opacity=0)}
    .slideShow .slide_left{left:0;cursor:url("http://img.baidu.com/img/baike/editor/albumleftarrow.cur"), default}
    .slideShow .slide_right{right:0;cursor:url("http://img.baidu.com/img/baike/editor/albumrightarrow.cur"), default}
	.slideShow .mbig{ position:absolute; left:0; top:120px; width:100%; height:550px;}