@charset "utf-8";
/* CSS Document */

/* CSS reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration: none }
fieldset, img { border: 0; }
body,button,input,select,textarea{font:12px tahoma,arial,\5b8b\4f53;}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
ul,ol{ list-style:none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}
legend{ display:none}

/* global */
body{ background:#2D3033; font:12px; }
.wrapper{ margin:0 auto;text-align:left;width:970px; }
td{ font-size:12px; line-height:160%;}
.left{ float:left }
.right{ float:right }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.txthide{ text-indent:-999em;overflow:hidden; line-height:0; font-size:0}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both }




#loading,#pos,.YJ_CLOSE{ cursor:pointer;}
#pos{ padding:50px 0 50px 300px;}

/*tpl*/
.btn{ background:#46C5EC; border:none; border-radius:5px; color:#282B2E; margin-top:5px; padding:5px 10px; cursor:pointer}
.btn:hover{ background:#fff;}
.subcode{ background:#FFCC00; border-radius:5px; color:#000; display:block; font-size:16px; font-weight:700; margin-top:20px; padding:5px 20px;}
.coderesource{ color:#DF9E2E; background:#1D1F21; border-radius:5px; margin-top:0; padding:10px 20px; font-size:13px;}
hr{ margin:5px 0}
.title h1{ text-align:center; font-size:36px; color:#46C5EC}
.title h2{ text-align:right; color:#fff; font-weight:400}





.loadingMask{position:absolute; left:0; top:0; background:#000; opacity:0.5;filter:alpha(opacity=50); z-index:500}
.popLoading{ width:300px; height:300px; border:1px solid #000; background:#fff; z-index:1000; background:#fff url(images/loading.gif) no-repeat 50% 50%}


/*=========================弹窗=============================*/
.popupmenu_popup{ zoom:1;z-index:555}
.pop_content{position:relative; right:3px; top:-3px; }
.pop_shadow{ background:url(../images/pop_shdaow.png) repeat; zoom:1;}
.pop_inner{ background:#fff;border:1px solid #cfe0ed; zoom:1; /*overflow:hidden*/}

/*pop_confirm*/
.pop_confirm p{ font-size:14px; color:#000; line-height:2; font-weight:700; overflow:hidden;}
.pop_btn input{ margin-right:10px; height:31px; cursor:pointer; border:none; font-weight:700; padding-bottom:3px;}
.pop_btn .found{ /*margin-left:55px;*/}
.btn_join{ background:url(../images/pop_sprite.png) no-repeat; width:81px; color:#fff;}
.btn_cancel{ background:url(../images/pop_sprite.png) no-repeat -81px 0; width:55px; color:#1987cf }
.btn_ok{ background:url(../images/pop_sprite.png) no-repeat 0 -81px; width:55px; color:#fff;}
/*pop_tbox*/
.pop_tbox{}
.pop_tbox .hd{ background:url(../images/pop_sprite.png) repeat-x 0 -31px; height:40px; border-bottom:1px solid #e3edf5; line-height:40px; padding:0 10px; color:#1c8ed3; font-size:14px; position:relative; font-weight:700;}
.pop_tbox .hd a{ position:absolute; right:10px; top:15px; background:url(../images/pop_sprite.png) no-repeat 0 -71px; width:10px; height:10px; display:block; text-indent:-999em; overflow:hidden; cursor:pointer;}
.pop_tbox .hd a:hover{ background-position:-10px -71px;}
.pop_tbox .bd{ padding:20px 10px; zoom:1}

