@charset "utf-8";
/* CSS Document 
Use for:	www.f2er.net
Version:	1.0
Date:		2011/04/10
Author:		情封
Update:     2011/05/14
*/

/*add by f2er 11-07-12*/




#YJ_pop{ z-index:1000;}
/*login_box*/
.YJ_pop{ background:url(../images/group_box.png) repeat;padding:10px;}
.YJ_pw{ padding:10px;}
.YJ_pz{padding:5px;}
/*YJ_pbox*/
.YJ_pbox{ border:1px solid #b2d9f6; zoom:1}
.YJ_pbox .hd{ background:url(../images/login_sprite.png) repeat-x; border-bottom:1px solid #dcf0ff; height:34px; font-size:14px; line-height:34px; padding-left:10px; color:#3a77ac; position:relative}
.YJ_pbox .bd{ /*padding:20px 30px;*/ zoom:1; background:#f4fbff}
.YJ_pbox .YJ_close{ background:url(../images/login_sprite.png) no-repeat left -37px; width:14px; height:14px; display:block; overflow:hidden; position:absolute; right:10px; top:12px; text-indent:-999em; overflow:hidden}
.YJ_pbox .YJ_close:hover{ background-position:-14px -37px;}
/*YJ_ptip*/
.YJ_ptip{ background:#fff; zoom:1; padding:5px;border:1px solid #ddd; box-shadow:2px 2px 1px #ccc}



/*=========================弹窗=============================*/
.popupmenu_popup{ zoom:1;z-index:555}
.pop_content{position:relative; right:3px; top:-3px; }
.pop_shadow{ background:url(../images/pop_shdaow.png) repeat; zoom:1;}
.pop_inner{ background:#fff;border:1px solid #cfe0ed; zoom:1; /*overflow:hidden*/}

/*pop_confirm*/
.pop_confirm p{ font-size:14px; color:#000; line-height:2; font-weight:700; overflow:hidden;}
.pop_btn input{ margin-right:10px; height:31px; cursor:pointer; border:none; font-weight:700; padding-bottom:3px;}
.pop_btn .found{ /*margin-left:55px;*/}
.btn_join{ background:url(../images/pop_sprite.png) no-repeat; width:81px; color:#fff;}
.btn_cancel{ background:url(../images/pop_sprite.png) no-repeat -81px 0; width:55px; color:#1987cf }
.btn_ok{ background:url(../images/pop_sprite.png) no-repeat 0 -81px; width:55px; color:#fff;}
/*pop_tbox*/
.pop_tbox{}
.pop_tbox .hd{ background:url(../images/pop_sprite.png) repeat-x 0 -31px; height:40px; border-bottom:1px solid #e3edf5; line-height:40px; padding:0 10px; color:#1c8ed3; font-size:14px; position:relative; font-weight:700;}
.pop_tbox .hd a{ position:absolute; right:10px; top:15px; background:url(../images/pop_sprite.png) no-repeat 0 -71px; width:10px; height:10px; display:block; text-indent:-999em; overflow:hidden; cursor:pointer;}
.pop_tbox .hd a:hover{ background-position:-10px -71px;}
.pop_tbox .bd{ padding:20px 10px; zoom:1}



